
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myHeadPersonLabel" data-translate="journeyToTheWestApp.headPerson.home.createOrEditLabel">Create or edit a Head Person</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.headPerson.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.headPerson.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="journeyToTheWestApp.headPerson.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.headPerson.name"
                    required ng-maxlength="32" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="32">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="journeyToTheWestApp.headPerson.job" for="field_job">Job</label>
            <input type="text" class="form-control" name="job" id="field_job"
                    ng-model="vm.headPerson.job"
                    required ng-maxlength="32" />
            <div ng-show="editForm.job.$invalid">
                <p class="help-block"
                    ng-show="editForm.job.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.job.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="32">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="journeyToTheWestApp.headPerson.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.headPerson.email"
                    required ng-maxlength="32" />
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                    ng-show="editForm.email.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.email.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="32">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="journeyToTheWestApp.headPerson.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="vm.headPerson.phone"
                    required ng-maxlength="32" />
            <div ng-show="editForm.phone.$invalid">
                <p class="help-block"
                    ng-show="editForm.phone.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.phone.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="32">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
