<div>
    <h2 data-translate="journeyToTheWestApp.lawenforcement.home.title">Lawenforcements</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="lawenforcement.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="journeyToTheWestApp.lawenforcement.home.createLabel">
                        Create new Lawenforcement
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'journeyToTheWestApp.lawenforcement.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="journeyToTheWestApp.lawenforcement.enforcementName">Enforcement Name</span></th>
                    <th><span data-translate="journeyToTheWestApp.lawenforcement.enforcementFile">Enforcement File</span></th>
                    <th><span data-translate="journeyToTheWestApp.lawenforcement.punish">Punish</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lawenforcement in vm.lawenforcements track by lawenforcement.id">
                    <td><a ui-sref="lawenforcement-detail({id:lawenforcement.id})">{{lawenforcement.id}}</a></td>
                    <td>{{lawenforcement.enforcementName}}</td>
                    <td>{{lawenforcement.enforcementFile}}</td>
                    <td>
                        <a ui-sref="punish-detail({id:lawenforcement.punish.id})">{{lawenforcement.punish.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="lawenforcement-detail({id:lawenforcement.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lawenforcement.edit({id:lawenforcement.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lawenforcement.delete({id:lawenforcement.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
