
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myManagerLabel" data-translate="journeyToTheWestApp.manager.home.createOrEditLabel">Create or edit a Manager</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.manager.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.manager.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="journeyToTheWestApp.manager.managerId" for="field_managerId">Manager Id</label>
            <input type="text" class="form-control" name="managerId" id="field_managerId"
                    ng-model="vm.manager.managerId"
                    required ng-maxlength="32" />
            <div ng-show="editForm.managerId.$invalid">
                <p class="help-block"
                    ng-show="editForm.managerId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.managerId.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="32">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="journeyToTheWestApp.manager.managerName" for="field_managerName">Manager Name</label>
            <input type="text" class="form-control" name="managerName" id="field_managerName"
                    ng-model="vm.manager.managerName"
                    required ng-maxlength="32" />
            <div ng-show="editForm.managerName.$invalid">
                <p class="help-block"
                    ng-show="editForm.managerName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.managerName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="32">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="journeyToTheWestApp.manager.managerCardId" for="field_managerCardId">Manager Card Id</label>
            <input type="text" class="form-control" name="managerCardId" id="field_managerCardId"
                    ng-model="vm.manager.managerCardId"
                    required ng-maxlength="32" />
            <div ng-show="editForm.managerCardId.$invalid">
                <p class="help-block"
                    ng-show="editForm.managerCardId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.managerCardId.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="32">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="journeyToTheWestApp.manager.managerCardType" for="field_managerCardType">Manager Card Type</label>
            <input type="text" class="form-control" name="managerCardType" id="field_managerCardType"
                    ng-model="vm.manager.managerCardType"
                    required ng-maxlength="64" />
            <div ng-show="editForm.managerCardType.$invalid">
                <p class="help-block"
                    ng-show="editForm.managerCardType.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.managerCardType.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="64">
                    This field cannot be longer than 64 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="journeyToTheWestApp.manager.managerSex" for="field_managerSex">Manager Sex</label>
            <input type="text" class="form-control" name="managerSex" id="field_managerSex"
                    ng-model="vm.manager.managerSex"
                    required ng-maxlength="1" />
            <div ng-show="editForm.managerSex.$invalid">
                <p class="help-block"
                    ng-show="editForm.managerSex.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.managerSex.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1">
                    This field cannot be longer than 1 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="journeyToTheWestApp.manager.managerFlag" for="field_managerFlag">Manager Flag</label>
            <input type="text" class="form-control" name="managerFlag" id="field_managerFlag"
                    ng-model="vm.manager.managerFlag"
                    ng-maxlength="1" />
            <div ng-show="editForm.managerFlag.$invalid">
                <p class="help-block"
                    ng-show="editForm.managerFlag.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1">
                    This field cannot be longer than 1 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="journeyToTheWestApp.manager.checkCount" for="field_checkCount">Check Count</label>
            <input type="number" class="form-control" name="checkCount" id="field_checkCount"
                    ng-model="vm.manager.checkCount"
                    max="10000" />
            <div ng-show="editForm.checkCount.$invalid">
                <p class="help-block"
                    ng-show="editForm.checkCount.$error.max" data-translate="entity.validation.max" translate-value-max="10000">
                    This field cannot be more than 10000.
                </p>
                <p class="help-block"
                    ng-show="editForm.checkCount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="journeyToTheWestApp.manager.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.manager.description"
                    ng-maxlength="4069" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="4069">
                    This field cannot be longer than 4069 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="journeyToTheWestApp.manager.managerUser" for="field_managerUser">Manager User</label>
            <select class="form-control" id="field_managerUser" name="managerUser" ng-model="vm.manager.managerUser" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="journeyToTheWestApp.manager.managerLawenforceDepartment" for="field_managerLawenforceDepartment">Manager Lawenforce Department</label>
            <select class="form-control" id="field_managerLawenforceDepartment" name="managerLawenforceDepartment" ng-model="vm.manager.managerLawenforceDepartment" ng-options="lawenforceDepartment as lawenforceDepartment.id for lawenforceDepartment in vm.lawenforcedepartments track by lawenforceDepartment.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="journeyToTheWestApp.manager.managerLawenforceArea" for="field_managerLawenforceArea">Manager Lawenforce Area</label>
            <select class="form-control" id="field_managerLawenforceArea" multiple name="managerLawenforceArea" ng-model="vm.manager.managerLawenforceAreas" ng-options="lawenforceArea as lawenforceArea.id for lawenforceArea in vm.lawenforceareas track by lawenforceArea.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
